* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #f5f7fa;
  font-family: 'Ubuntu', sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.container {
  margin-bottom: 35px;
}

.sidebar {
  background: #232323;
  width: 360px;
  padding-top: 0;
  padding-bottom: 40px;
}

.my-photo {
  width: 360px;
  height: auto;
  object-fit: fill;
}

.sidebar-container {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.dob {
  color: #dadada;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 12px;
}

.sidebar-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 14px;
}

.country {
  color: #d8dadd;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.sidebar-link {
  color: #d8dadd;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.sidebar-link:hover {
  text-decoration: underline;
}

.sidebar-link-type {
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.sidebar-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-left: 30px;
}

.sidebar-text {
  color: #d8dadd;
}

.info-container {
  margin-bottom: 65px;
}

.profession {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  /* line-height: 24px; */
  /* margin-bottom: 20px; */
}

.name {
  font-size: 32px;
  font-weight: 700;
  line-height: 90px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 6px;
}

.description-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.description-item {
    font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* color: #000000; */
  margin-left: 30px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 25px;
}

.tech-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* color: #595959; */
}

.relations {
  color: #595959;
  font-weight: 100;
}

.projects-container {
  margin-bottom: 55px;
}

.projects-item {
  font-weight: 700;
  margin-left: 17px;
  margin-top: 16px;
}

.projects-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.06rem;
  color: #000000;
}

.git-link {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.git-link:hover {
  text-decoration: underline;
}

.profession-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.profession-time {
  display: inline-block;
  color: #616161;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.profession-divider {
  color: #000;
}

.profession-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.education-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}
